<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUTA?</title>
</head>
<body>
    <p>HELLO and welcome to super awesome sauce website coded by Ahmad-Khalil Naji</p>
    <br><p>CLICK <a href="/admin/adding_templates/insert_product">HERE</a> TO ADD A PRODUCT TO DATABASE!</p>
    <br><p>CLICK <a href="/admin/list_products">HERE</a> TO LIST ALL PRODUCTS <b>ADMIN ONLY</b><br>
    <br><p>CLICK <a href="/sales/list_products">HERE</a> TO LIST ALL PRODUCTS <br>
    
    NOTE: New features implemented on Nov 24th 2023. Such as deleting rows, editing rows. <br>
    Most importantly! Filters. You can now filter by quantity and brand. <br>
    <br> <div th:replace="/fragments/general.html :: logout"></div>
    Patch December 6th 2023: <br>
    XSS Security risks have been resolved</p>
    <div th:replace="/fragments/general.html :: footer"> </div>
</body>
</html>